elem {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */  
}

body{
 font-family: Baskerville Old Face;
}

*{
   font-family: Baskerville Old Face;
}
.navbar {
    padding: 0.75rem 2rem 0.75rem 4rem !important;
    font-size: 1.2rem;
}
 
.top-nav-collapse {
  background-color: #24355C;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: rgb(133, 37, 83);
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}


.shivi-centerheader {
  text-align: center;
  background-color: white;
  background-image: url("assets/picture/Background image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 60;
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding-right: 0;
  padding-left: 0;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}
.profile-pic {
  border-radius: 50%;
  box-shadow: 7px 2px 12px black;
}

